<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.livesplitlike">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="LiveSplitLike"
        android:theme="@style/Theme.LiveSplitLike"> <!-- CHANGED HERE -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LiveSplitLike"> <!-- CHANGED HERE -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
